/* Size for brand */
nav .navbar-brand
{
    font-size: xx-large;
}

/* Colors for brand */
nav .navbar-brand .blue
{
    color: #537fbe;
}
nav .navbar-brand .red
{
    color: #ea433b;
}
nav .navbar-brand .yellow
{
    color: #f5b82e;
}
nav .navbar-brand .green
{
    color: #2e944b;
}

body
{
    background-color: #202124;
    color: rgb(255, 255, 255);
}

.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#0C9;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
}

.my-float{
	margin-top:22px;
}

.icon{
    display:flex;
    align-items:center;
    justify-content:center;
    height: 100%;
    color:white;
}


.container {
    margin-left: auto;
    margin-right: auto;
    margin-top: 2vh;
}

.card {
    background-color: rgb(49, 49, 49);
    width: 80%; 
    margin: 1% 10% 1%;
}

.arrow {
    border: solid black;
    border-width: 0 1vh 1vh 0;
    display: inline-block;
    padding: 1vh;
    cursor: pointer;
}

.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.on {
    border-color: rgb(199, 151, 249);
}

  .vertical {
    position: absolute;
    top: 0;
    text-align: center;
  }

  .split-left {
    width: 96%; 
    float: left; 
    display: inline-block;
  }

  .split-right {
    width:4%; 
    float: left; 
    display: inline-block;
  }