/* Size for brand */
nav .navbar-brand
{
    font-size: xx-large;
}

/* Colors for brand */
nav .navbar-brand .blue
{
    color: #537fbe;
}
nav .navbar-brand .red
{
    color: #ea433b;
}
nav .navbar-brand .yellow
{
    color: #f5b82e;
}
nav .navbar-brand .green
{
    color: #2e944b;
}

body
{
    background-color: #202124;
    color: rgb(255, 255, 255);
}

.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#0C9;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
}

.my-float{
	margin-top:22px;
}

.icon{
    display:flex;
    align-items:center;
    justify-content:center;
    height: 100%;
    color:white;
}


.container {
    margin-left: auto;
    margin-right: auto;
    margin-top: 2vh;
}

.card {
    background-color: rgb(49, 49, 49);
    width: 80%; 
    margin: 1% 10% 1%;
}

.arrow-up {
    width: 0;
    height: 0;
    border-left: 1vw solid transparent;
    border-right: 1vw solid transparent;
    border-bottom: 2vh solid rgb(108, 108, 108);
    cursor: pointer;
  }

  .arrow-down {
    width: 0;
    height: 0;
    border-left: 1vw solid transparent;
    border-right: 1vw solid transparent;
    border-top: 2vh solid rgb(108, 108, 108);
    cursor: pointer;
  }

  .arrow-up.on {
    border-top: 2vh solid rgb(199, 151, 249);
  }

  .arrow-down.on {
    border-top: 2vh solid rgb(199, 151, 249);
  }

  .vertical {
    position: absolute;
    top: 0;
    text-align: center;
  }

  .split-left {
    width: 96%; 
    float: left; 
    display: inline-block;
  }

  .split-right {
    width:4%; 
    float: left; 
    display: inline-block;
  }