{% extends "layout.html" %}

{% block title %}
    Change Password
{% endblock %}

{% block main %}
<!-- 2 inputs needed to change the password -->
    <div>
        Pick a new password!
    </div>
    <form action="/change_password" method="post">
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="new_password" name="new_password" placeholder="New Password" type="password">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="confirmation" name="confirmation" placeholder="Confirm Password" type="password">
        </div>
        <button class="btn btn-primary" type="submit">Change Password</button>
    </form>
{% endblock %}