{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
<div class="container">
    {% for post in posts %}
    <div class="card">
        <div class="card-body" style="display: block;">
            <div class="split-left">
                <h6 class="card-subtitle mb-2 text-muted" style="text-align: left; color: rgb(201, 201, 201);">{{ post["time"] }}</h6>
                <p class="card-text" style="text-align: left;">{{ post["post"] }}</p>
            </div>
            <div class="split-right">
                {% if post["id"] in likes %}
                <span onclick="like({{post.id}}, {{session['user_id']}})" id="like{{post.id}}" class="arrow up on "></span>
                {% else %}
                <span onclick="like({{post.id}}, {{session['user_id']}})" id="like{{post.id}}" class="arrow up"></span>
                {% endif %}
                <div id="counter{{post.id}}" style="margin-top: 50%; margin-bottom: 50%;">{{ post["likes"] }}</div>
                {% if post["id"] in dislikes %}
                <span onclick="dislike({{post.id}}, {{session['user_id']}})" id="dislike{{post.id}}" class="arrow down on"></span>
                {% else %}
                <span onclick="dislike({{post.id}}, {{session['user_id']}})" id="dislike{{post.id}}" class="arrow down"></span>
                {% endif %}
            </div>
        </div>
    </div>
    {% endfor %}
</div>

<!-- creating a floating action button -->
<a href="/post" class="float">
    <p class="icon">post</p>
</a>
{% endblock %}
