{% extends "layout.html" %}

{% block title %}
    Sidechat50
{% endblock %}

{% block main %}
<div class="container">
    {% for post in posts %}
    <div class="card" style="width: 80%; margin: 1% 10% 1%;">
        <div class="card-body">
          <h6 class="card-subtitle mb-2 text-muted" style="text-align: right;">{{ post["time"] }}</h6>
          <p class="card-text" style="text-align: left; color: rgb(0, 0, 0)">{{ post["post"] }}</p>
        </div>
    </div>
    {% endfor %}
</div>

<!-- creating a floating action button -->
<a href="/post" class="float">
    <p class="icon">post</p>
</a>
{% endblock %}
