{% extends "layout.html" %}

{% block title %}
    Sidechat50
{% endblock %}

{% block main %}
    {% for post in posts %}
    <div class="card">
        <div class="card-body" style="display: block;">
            <div class="split-left">
                <h6 class="card-subtitle mb-2 text-muted" style="text-align: left; color: rgb(201, 201, 201);">{{ post["time"] }}</h6>
                <p class="card-text" style="text-align: left;">{{ post["post"] }}</p>
            </div>
            <div class="split-right">
                <span onclick="like({{post.id}})" id="like{{post.id}}" class="arrow up"></span>
                <div id="counter{{post.id}}" style="margin-top: 80%; margin-bottom: 80%;">0</div>
                <span onclick="dislike({{post.id}})" id="dislike{{post.id}}" class="arrow down"></span>
            </div>
        </div>
    </div>
    {% endfor %}

<!-- creating a floating action button -->
<a href="/post" class="float">
    <p class="icon">post</p>
</a>
{% endblock %}
