{% extends "layout.html" %}

{% block title %}
    User Settings
{% endblock %}

{% block main %}
<div>
    <div>
      Username: {{ username }}
      <a href="/change_username" type="button" class="btn btn-outline-primary">Change Username</a>
    </div>
    <div>
      <a href="/change_password" type="button" class="btn btn-outline-primary">Change Password</a>
    </div>
    <div class="container">
        <p>Background Color:</p>
        <form>
          <label class="radio-inline">
            <input type="radio" name="dark" id="1" checked onclick="change_color(1)">Option 1
          </label>
          <label class="radio-inline">
            <input type="radio" name="purple" id="2" onclick="change_color(2)">Option 2
          </label>
          <label class="radio-inline">
            <input type="radio" name="light" id="3" onclick="change_color(3)">Option 3
          </label>
        </form>
      </div>
</div>

{% endblock %}
