{% extends "layout.html" %}

{% block title %}
    User Settings
{% endblock %}

{% block main %}
<div>
    <div>
      Username: {{ username }}
      <a href="/change_username" type="button" class="btn btn-outline-primary">Change Username</a>
    </div>
    <div>
      <a href="/change_password" type="button" class="btn btn-outline-primary">Change Password</a>
    </div>
    <div class="container">
        <p>Background Color:</p>
        <form>
          <label class="radio-inline">
            <input type="radio" name="optradio" checked>Option 1
          </label>
          <label class="radio-inline">
            <input type="radio" name="optradio">Option 2
          </label>
          <label class="radio-inline">
            <input type="radio" name="optradio">Option 3
          </label>
        </form>
      </div>
</div>

{% endblock %}
