{% extends "layout.html" %}

{% block title %}
    User profile
{% endblock %}

{% block main %}
<div>
    <div>
      Username: {{ username }}
      <a href="/change_username" type="button" style="margin-bottom: 2%;">Change Username</a>
    </div>
    <div>
      <a href="/change_password" type="button" class="btn btn-outline-primary">Change Password</a>
    </div>
    <div class="container">
        <p>Background Color:</p>
        <form action="/profile">
          <input type="radio" value="dark" id="1" checked onchange="this.form.submit()">
          <label class="radio-inline">dark mode</label>
          <input type="radio" value="purple" id="2" onchange="this.form.submit()">
          <label class="radio-inline">purple mode</label>
          <input type="radio" value="light" id="3" onchange="this.form.submit()">
          <label class="radio-inline">light mode</label>
        </form>
      </div>
</div>

{% endblock %}
