{% extends "layout.html" %}

{% block title %}
    Register User
{% endblock %}

{% block main %}
<!-- asks for username and password to register user -->
    <h3>Register User</h1>
    <br>
    <form action="/register" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="username" name="username" placeholder="Username" type="text">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="password" name="password" placeholder="Password" type="password">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="confirmation" name="confirmation" placeholder="Confirm Passoword" type="password">
        </div>
        <button class="btn btn-outline-primary" type="submit">Register User</button>
    </form>
{% endblock %}
