{% extends "layout.html" %}

{% block title %}
    Register User
{% endblock %}

{% block main %}
<div>
    <button type="button" class="btn btn-outline-primary">Change Username</button>
    <button type="button" class="btn btn-outline-primary">Change Password</button>
    <div class="container">
        <p>Background Color:</p>
        <form>
          <label class="radio-inline">
            <input type="radio" name="optradio" checked>Option 1
          </label>
          <label class="radio-inline">
            <input type="radio" name="optradio">Option 2
          </label>
          <label class="radio-inline">
            <input type="radio" name="optradio">Option 3
          </label>
        </form>
      </div>
</div>

{% endblock %}
